.states-list-elem{
	font-size: 250%;
	text-align: justify;
}
html, body { 
   height: 100%;
   font-family: sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    
}
.stateBox {
	padding: 5px;
	overflow: hidden;
	pointer-events: none;
}

.selected {
	font-weight: bold;
}

select{
	font-size: large;
}

.svg-button{
	fill: #e5e5e5;
	stroke: black;
	pointer-events: all;
	
}
.svg-button:hover{
	fill: #cccccc;
	stroke: black;
	pointer-events: all;
	
}

.button-svg-text{
	fill:black;
	stroke:black;
}

.menuSvgListElem{
	font-size:10px;
	pointer-events: all;
}

.menuSelectedBox{
	fill: #e5e5e5;
	stroke: black;
	pointer-events: all;

}

